<div style="max-width: 300px; margin: 0 auto; text-align: center;">
  <h1 style="font-size: 24px; margin-bottom: 20px;">Reset Your Password</h1>

  <div style="text-align: left;">
    <form action="/api/v1/session/forgot-password" method="post">
      <label for="email" style="font-size: 16px;">Email</label><br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        style="width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;"
      /><br />
      <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Send Recovery Email</button>
    </form>
  </div>
</div>