<div style="max-width: 300px; margin: 0 auto; text-align: center;">
  <h1 style="font-size: 24px; margin-bottom: 20px;">Set a New Password</h1>

  <div style="text-align: left;">
    <form action="/api/v1/session/set-new-password/{{token}}" method="post" onsubmit="return validateForm()">
      <label for="password" style="font-size: 16px;">Password</label><br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Type your password"
        oninput="validatePassword()"
        style="width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;"
      /><br />
      <label for="confirm-password" style="font-size: 16px;">Confirm Password</label><br />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Repeat your password"
        oninput="validatePassword()"
        style="width: 100%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;"
      /><br />
      <p id="password-error" style="color: red; font-size: 14px; margin-top: 5px;"></p>
      <button type="submit" id="submit-button" disabled style="background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Submit</button>
    </form>
  </div>

  <script>
    function validatePassword() {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirm-password').value;
      var passwordError = document.getElementById('password-error');
      var submitButton = document.getElementById('submit-button');

      if (password === confirmPassword) {
        passwordError.textContent = '';
        submitButton.disabled = false;
      } else {
        passwordError.textContent = 'The passwords do not match';
        submitButton.disabled = true;
      }
    }

    function validateForm() {
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirm-password').value;

      if (password !== confirmPassword) {
        alert('The passwords do not match, please check.');
        return false; // Prevents the form from being submitted
      }
      
      // If passwords match, the form will be submitted normally.
      return true;
    }
  </script>
</div>
