<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
    <body>
        <h3>Ejemplos de rutas para trabajar con Mongo:</h3>

           <p>Ruta de inicio, de entrada a la api (redirige al login): 
            *********** http://localhost:8000/api/v1/ </p> 
            <h3 style="background-color:DodgerBlue;"> Para recuperar contraseña, entrar a ruta de arriba, clic en boton donde dice Ir a formulario de restauración de contraseña</h3>
            <h3 style="background-color:DodgerBlue;"> Ruta para crear ticket de compra (metodo POST, con postman) http://localhost:8000/api/v1/carts/:cid/purchase</h3>
            
            <h4 style="background-color:DodgerBlue;">Ruta para cambiar role de usuario de USER a PREMIUM y viceversa:
        http://localhost:8000/api/v1/users/premium/:uid

        Ruta para crear producto:
        Se debe ser PREMIUM , se loguea desde POSTMAN, se copia el token en authorization, bear token, desde POSTMAN se crea producto metodo POST a la ruta http://localhost:8000/api/v1/products/, pegando el token en authorization, bear token, y escribiendo los clave:valor de producto en el body, raw, JSON. El servidor creara el producto con la propiedad owner: email del usuario que lo creo.

        Ruta eliminar y actualizar producto solo las pueden acceder ADMIN o PREMIUM, el owner de un producto y ADMIN son quienes pueden eliminar y actualizar un producto, las rutas son:
        Desde POSTMAN metodo DELETE  http://localhost:8000/api/v1/products/:pidmetodo metodo PUT http://localhost:8000/api/v1/products/:pid, respectivamente

        Ruta para agregar producto a carrito siendo PREMIUM:
        debe loguearse desde navegador, aparece vista de productos debe  agregar un producto credao por ese usuario al carrito se vera que no deja agregarlo.</h4>

            <h3 > Deberá loguearse en localhost:8000/api/v1 para realizar pruebas de logger con winston</h3>
            <h3> 
                Las rutas para las pruebas de logger con winston son (localhost:8000) api/v1/loggerTest/fatal, 
                api/v1/loggerTest/error, api/v1/loggerTest/warning, api/v1/loggerTest/info, api/v1/loggerTest/http, 
                api/v1/loggerTest/debug 
            </h3>
            <p> Ruta de mocking, generando 50 productos con faker en localhost:8000/api/v1/mockingproducts </p>
            <p> Ruta de creacion de producto con postmnan mediante metodo post y raw json http://localhost:8000/api/v1/products/</p>
            <p>La ruta anterior valida si las propiedades requeridas del producto a crear  son recibidas  y
                 envia un mensaje personalizado mediante error-handler y Http-Status-Code</p>

            <p>Ruta de usuario actual logueado (muestra usuario examinando token):
            *********** http://localhost:8000/api/v1/session/current</p>

            <p>Ruta de usuario actual logueado por id (muestra usuario examinando BD en Mongo Atlas):
            *********** http://localhost:8000/api/v1/session/current/:uid</p>

    

        <p>Para obtener todos los productos detalladamente en formato JSON con método GET:
            ************ http://localhost:8000/api/v1/products/</p>

        <p>Para ver resumen de todos los carritos con método GET: 
            ************ http://localhost:8000/api/v1/views/carts/</p>

        <p> Para ver paginación de productos desde mongo atlas con page, limit, sort y query (método GET), ejemplo: 
            ************ http://localhost:8000/api/v1/views/products?page=1&limit=3&sort={"code":1}&query={"description": "Desde fromulario con socket"}</p>

        <p>Ejemplo para vista de todos los productos de un carrito por cid dado: 
            ************ http://localhost:8000/api/v1/views/carts/649dd00d2f44220462505662<p>
        {{{body}}}

    </body>
</html>